@model IEnumerable<Metropole.Models.QuestionViewModel>

<h4 class="well well-small">Question Summary</h4>
@if (Model.Any())
{
    <div id="responses" class="question-summary accordion">
        @for (var i = 0; i < Model.Count(); i++)
        {
            var item = Model.ElementAt(i);
            <div class="accordion-group">
                <div class="row accordion-heading">
                    <a class="col-md-12 accordion-toggle" href="@String.Concat("#item", i)" data-parent="#responses" data-toggle="collapse">
                        @if (item.Type == "Yes/No")
                        {
                            if (item.Percentage > 0.5)
                            {
                                <div class="progress col-md-4 float-right my-2 px-0">
                                    <div class="progress-bar bg-success" style="width: 100%">
                                        @item.Score/@item.Total (@item.PercentageString)
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="progress col-md-4 float-right my-2 px-0">
                                    <div class="progress-bar bg-danger" style="width: 100%">
                                        @item.Score/@item.Total (@item.PercentageString)
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="progress col-md-4 float-right my-2 px-0">
                                <div class="progress-bar bg-info" style="width: 100%">
                                    @item.Score
                                </div>
                            </div>
                        }
                        @item.Title
                    </a>
                </div>
                <div id="@String.Concat("item", i)" class="accordion-body collapse">
                    <div class="accordion-inner">@Html.Raw(item.Body)</div>
                </div>
            </div>
        }
    </div>
    <h6 class="">Key:</h6>
    <div class="row">

        <div class="col-md-4 ">
            <div class="progress  my-2 px-0">

                <div class="progress-bar bg-success" style="width:100%">
                    Success
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <strong>More</strong> than 50% of <strong>Flat Responses</strong> answered Yes to this question.
        </div>
    </div>

    <div class="row">

        <div class="col-md-4">
            <div class="progress  my-2 px-0">
                <div class="progress-bar bg-danger" style="width:100%">
                    Fail
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <strong>Less</strong> than 50% of <strong>Flat Responses</strong> answered Yes to this question.
        </div>

    </div>

    <div class="row">

        <div class="col-md-4">
            <div class="progress  my-2 px-0">
                <div class="progress-bar bg-info" style="width:100%">
                    Numeric Info
                </div>
            </div>
        </div>
        <div class="col-md-8">
            This is a numeric question where the displayed value is the accumulation of all responses.
        </div>
    </div>

}